docs/technical-documentation/*.synctex.gz
docs/technical-documentation/*.aux
docs/technical-documentation/*.log
docs/technical-documentation/*.toc
docs/technical-documentation/*.out
docs/technical-documentation/modules/*.aux
